* {
  box-sizing: border-box;
}

.App {
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 43px);
}

.main-column {
  flex: 0 0 60%;
}
.timeline {
  margin: 1rem;
  border: 1px solid #ccc;
}
.new-post {
  border-top: 1px solid #ccc;
  padding: 15px;
}
.new-post textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: .2rem;
  margin-bottom: 10px;
}
.new-post button {
  font-size: 1rem;
}
.tweet {
  border-top: 1px solid #ccc;
  padding: 15px;
}
.tweet time {
  font-size: .8rem;
}
.tweet p {
  white-space: pre-wrap;
}

.sidebar-column {
  flex: 0 0 40%;
}
.trends {
  margin: 1rem;
  border: 1px solid #ccc;
}
